 <style>
   

    * {
      margin: 0;
      ;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Century Gothic', sans-serif;
      background-color: black;
      color: white;

    }

    @media screen and (max-width: 600px) {
      body {
        font-size: 0.875em;
      }

      h1 {
        font-size: 0.875em;

      }


      header h1 {
        font-size: 0.875em;
      }

      header ul {
        flex-direction: column;
        font-size: 0.875em;
      }

      header li {
        margin: 0.875em 0;
      }






      br {
        display: none;
      }





      .container {
        flex-direction: column;
      }

      .left-column,
      .middle-column,
      .right-column {
        width: 100%;
      }

    }

    h1 {
      text-align: center;
      font-size: 50px;
    }



header {
       
        width: 100%;
        background-color: black;
        margin-top: -5.55%;
        padding-top: 8px;
        padding-bottom: 20px;
        padding-left: 15.5px;
    
        z-index: 11;
        position: fixed;
      }



  


    li {

      margin-right: 15px;
      margin-left: 15px;

      z-index: 10;
      display: inline;


    }

    ul {
      z-index: 10;
      text-align: center;
      background-color: black;

    }

    a {

      text-decoration: none;
      color: #ffffff;


    }

    a:hover {
      color: red;
    }

    h2 {
      font-size: 50px;
      position: absolute;
      margin-top: 10px;
      margin-left: 5px;
      color: white;
    }


    .container {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 100px;
      padding: 20px;


    }
    

    .left-column {
      width: 48%;
    }

    .middle-column {
      width: 48%;
    }

    .right-column {
      width: 48%;
    }

    .left-column h1 {
      font-weight: bold;


    }

    .left-column img {
      width: 100%;
      max-width: 500px;
      max-height: 400;
      display: block;
      padding: 20px;
     

    }

    .middle-column h1 {
      font-weight: bold;



    }

    .middle-column img {
      width: 100%;
      max-width: 500px;
      max-height: 400;
      display: block;
      padding: 20px;
      
    }

    .right-column h1 {
      font-weight: bold;


    }

    .right-column img {
      width: 100%;
      max-width: 500px;
      max-height: 454000;
      display: block;
      padding: 20px;
     

    }
     .left-column img:hover,
      .middle-column img:hover,
      .right-column img:hover {
      transform: scale(1.2); 
      transition: transform 0.1s ease; 
      }
  </style>
