 <style>
        * {
      margin: 0;
      
      padding: 0;
      box-sizing: border-box;
    }
      body {
        font-family: 'Century Gothic', sans-serif;
        background-color: black;
        color: white;
      }

      h1 {
        font-size: 50px;
        text-align: center;
      }
      header {
        width: 100%;
        background-color: black;
        
        margin-top: -75px;
       
        z-index: 11;
        position: fixed;
        
      }
      li {

      margin-right: 15px;
      margin-left: 15px;
     
      z-index: 10;
      display: inline;
      
    }
       ul {
      z-index: 10;
      text-align: center;
      background-color: black;
       margin-top: -40px;
         margin-bottom: -20px;
         margin-left: -35px;
    }
       a {

      text-decoration: none;
      color: #ffffff;


    }
       a:hover {
      color: red;
    }
</style>
